# Remove
ai_model/

# Ambiente virtual
.venv/
venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações e histórico do ambiente
.env
.env.*
.venv/
*.env
*.venv
*.virtualenv

# Arquivos de log e dados temporários
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Configurações de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configurações de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de pacotes e caches
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.eggs/
*.egg
*.whl
dist/
build/
__pypackages__/

# Arquivos do Jupyter Notebook
.ipynb_checkpoints

# Arquivos de testes
.tox/
.pytest_cache/
.nox/
htmlcov/
.coverage
coverage.xml
.cache/
.pyre/
.mypy_cache/
node_modules
.yarn
android/*
